<!DOCTYPE html>
<html>

<script src="view/departures.js" type="text/javascript"> </script>

<script type="text/javascript">
    var view = {
        message: document.getElementById("message"),
        location: document.getElementById("location"),
        stops: document.getElementById("stops")
    };
    setView(view);
</script>

<head>
    <title>Departures</title>
</head>

<body>
    <p id="message">
        status message goes here
    </p>

    <p id="location">
        location goes here
    </p>

    <p id="stops">
        stops go here
    </p>
</body>

</html>
